.settings {
    padding: 15px 0 0 15px;

    .settings-title {
        font-size: 1.5em;
        margin-top: 30px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .setting {
        padding-top: 15px;

        .setting-children {
            padding-left: 15px;
        }
    }
    

    .settings-api-wrapper {
        margin-top: 30px;

        display: flex;
        flex-direction: column;

        .api-token {
            margin-top: 10px;
            width: 350px;
        }

        details {
            margin-top: 10px;
            width: fit-content;

            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 0.5em 0.5em 0;

            font-size: 1.2em;
        }
          
        summary {
            margin: -0.5em -0.5em 0;
            padding: 0.5em;

            cursor: pointer;
        }
          
        details[open] {
            padding: 0.5em;
        }
          
        details[open] summary {
            border-bottom: 1px solid #aaa;
            margin-bottom: 0.5em;
        }
          
    }
}