.popover {
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.176);
}

.discogs-searcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;

    button {
        outline: none !important;
    }

    a,
    a:focus {
        outline: none;
        text-decoration: none
    }

    .social-item {
        margin: 0px 5px;
        background-color: transparent;
        width: 32px;
        height: 32px;
        background-size: 100% !important;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 0px;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }

    .dropdown {
        width: 32px;
        height: 32px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 0px;

        button {
            width: 32px;
            height: 32px;
            background-size: 100% !important;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            padding: 0px;
            background-color: transparent;
            cursor: pointer;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: 1000;
            float: left;
            min-width: auto;
            font-size: 14px;
            text-align: left;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
            background-clip: padding-box;
            padding: 5px 0px;
            list-style: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.15);
            border-image: initial;
            border-radius: 4px;

            li {
                cursor: pointer;
                margin-bottom: 5px;
                padding: 0px 5px;

                &:last-of-type {
                    margin-bottom: 0px;
                }

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.track-selected {
    color: red !important;
}

.track-visited {
    color: green !important;
}

.click-icon-ds {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
}

.right {
    width: auto !important;
    margin-top: 0 !important;
    padding-left: 0 !important;
    border: none !important;
    background-color: white !important;
    padding-top: 0 !important;
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    pointer-events: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.176);
    border-width: 0;
    transform: rotate(45deg);
    right: 0;
    bottom: 0;
}